---
import Head from "../components/head.astro";
---

<html>
    <head>
        <Head title="Mason's Blog" />
    </head>
    <body>
        <section class="wrapper">
            <slot />
        </section>
    </body>
</html>
